.about__wrap {
  margin-top: 80px;
  @media (max-width: 760px) {
    margin-top: 10px;
    .title {
      font-size: 1.5em;
      text-align: center;
    }
    .content {
      width: 90%;
      margin: 0 auto;
      align-items: start;
    }
  }
}
.avator {
  width: 99px;
  height: 99px;
  margin: 20px auto;
  text-align: center;
  border-radius: 25%;
  overflow: hidden;
  border: 1px solid var(--semidark);
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    margin: 20px 0;
    font-size: 16px;
  }
}
