.slug__wrap {
  display: flex;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1.2fr));
  grid-template-rows: 450px auto;
  gap: 15px 15px;
  width: 100%;
  min-height: 70vh;
  padding: 15px 25px;
  @media (max-width: 1025px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1.2fr));
  }
  pre {
    min-height: 135px;
    max-height: 600px;
    font-weight: 100 !important;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

.card__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 250px;
  height: 100%;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px dashed var(--primary);
  border-radius: 8px;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  background-color: var(--light);
  color: var(--dark);
  @media (min-width: 1025px) {
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
.card__name {
  padding: 4px;
  color: var(--dark);
  font-family: Poppins, sans-serif;
}

.card__dark {
  .card__wrap {
    color: var(--lgiht);
    background-color: var(--semidark);
  }
  .content__title {
    color: var(--light);
  }
}

.loadmore__btn {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 16px;
  // border: 1px dashed #cbcbcb;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: var(--primary);
  background: var(--lightgray);
  margin-bottom: 5px;
  @apply px-4;
  &:hover {
    border-style: solid;
    background: var(--primary);
    color: var(--lightgray);
    border-color: #a0a0a0;
    transition: all 0.25s;
  }
}
.container {
  article {
    position: relative;
  }
}

.content__title {
  position: absolute;
  margin: 10px;
  color: var(--dark);
  z-index: 9999;
}
