.type__wrap {
  display: flex;
  background: var(--background);
}
.container {
  width: 100%;
  padding: 50px 30px;
}

.posts__prereview__heading {
  font: 700 2em/1 Poppins, sans-serif;
  color: var(--primary);
}

.posts__prereview__content {
  display: grid;
  grid-gap: 20px 14px;
  align-content: start;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  margin-top: 20px;
}

.loadmore__btn {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 16px;
  // border: 1px dashed #cbcbcb;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: var(--primary);
  background: var(--lightgray);
  margin-bottom: 5px;
  @apply px-4 my-12;
  &:hover {
    border-style: solid;
    background: var(--primary);
    color: var(--lightgray);
    border-color: #a0a0a0;
    transition: all 0.25s;
  }
}
