.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  @media (max-width: 720px) {
    display: none;
  }
  p {
    color: #f1f2f6;
    font-family: 'Poppins', cursive;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    display: inline-block;
    padding: 1.5em 0em;
    width: 1200px;
    span {
      font: bold 5em/1 'Poppins', cursive;
      letter-spacing: 0.1em;
      padding: 0.25em 0 0.325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 50px #e9e9e9;
      background: url('/img/loading.png');
      background-size: 20%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: aitf 80s linear infinite;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
    }
  }
  @keyframes aitf {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
}
.wrap__phone {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
  $red: #e55643;
  $green: #2b9f5e;
  $yellow: #f1c83c;
  $shadow: #533d4a;
  .container {
    display: block;
    max-width: 299px;
  }

  h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    margin: 0;
    line-height: 47px;
    letter-spacing: 2px;
  }

  .title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px,
      $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
    min-width: 10px;
    min-height: 10px;
    margin-bottom: 18px;
    &:nth-child(1) {
      color: $red;
    }
    &:nth-child(2) {
      color: $green;
    }
    &:nth-child(3) {
      color: $yellow;
    }
  }
}

.card__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 250px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px dashed var(--primary);
  border-radius: 8px;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  cursor: pointer;
  @media (min-width: 1025px) {
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
.card__name {
  padding: 4px;
  font-family: Poppins, sans-serif;
}

.card__dark {
  background-color: var(--semidark);
}

.star__background {
  text-align: center;
  background: var(--background);
  height: 400px;
  width: 100%;
  overflow: hidden;
  .area {
    height: 100%;
    width: 100%;
    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .circles li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: var(--bgV2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    }

    .circles li:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    .circles li:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    .circles li:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }

    .circles li:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 80px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    .circles li:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }

    .circles li:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }

    .circles li:nth-child(7) {
      left: 10%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }

    .circles li:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }

    .circles li:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    .circles li:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }

    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
      }

      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }
  }
  // 首页特效

  .background span {
    $particleSize: 20vmin;
    $animationDuration: 6s;
    $amount: 20;
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    $colors: (#583c87, #e45a84, #ffacac);
    @for $i from 1 through $amount {
      &:nth-child(#{$i}) {
        color: nth($colors, random(length($colors)));
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
        animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        $blurRadius: (random() + 0.5) * $particleSize * 0.5;
        $x: if(random() > 0.5, -1, 1);
        box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
      }
    }
  }

  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }

  .title {
    font-weight: bolder;
    color: var(--primary);
    line-height: 1.35;
    margin-top: 30px;
    margin-bottom: 28px;
    font-size: 3.5em;
    @media (max-width: 420px) {
      font-size: 2em;
    }
  }
  .media__title {
    display: none;
    font-weight: bolder;
    font: 700 2.2em/1 Poppins, sans-serif;
    color: var(--primary);
    line-height: 1.35;
    margin-bottom: 28px;
    @media (max-width: 420px) {
      display: block;
    }
  }
  .sub__title {
    margin: 20px auto;
    max-width: 1000px;
    h2 {
      font: 700 2.2em/1 Poppins, sans-serif;
      color: var(--primary);
      line-height: 1.35;
      @media (max-width: 420px) {
        font-size: 2em;
      }
    }
    p {
      font: 700 1em/1 Poppins, sans-serif;
      font-style: oblique;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
.container {
  position: relative;
  min-height: 400px;
  margin: auto;
  padding: 20px 30px;
}

#master {
  width: 1200px;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 1;
  font-weight: bold;
  -webkit-font-smoothing: inherit;
  @media (max-width: 1200px) {
    display: none;
  }
}

#master {
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1em;
}

#master__container {
  background-color: #f5c59c;
  -webkit-animation: bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  animation: bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vmin;
  min-height: 0;
  max-height: 100%;
}

#master__container .content {
  height: auto;
  margin-left: inherit;
  margin-right: inherit;
}

#scroller {
  height: 66px;
  margin-bottom: -6px;
  overflow: hidden;
  position: relative;
}

#scroller .scroller__item {
  display: block;
  padding-bottom: 6px;
  -webkit-animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

#scroller .scroller__item[href]:hover {
  text-decoration: underline;
}

#scroller .scroller__item:nth-child(1),
#scroller .scroller__item:nth-child(1) {
  color: #e65f48;
}

#scroller .scroller__item:nth-child(2),
#scroller .scroller__item:nth-child(2) {
  color: #e65f48;
}

#scroller .scroller__item:nth-child(3),
#scroller .scroller__item:nth-child(3) {
  color: #76bcad;
}

#scroller .scroller__item:nth-child(4),
#scroller .scroller__item:nth-child(4) {
  color: #84719f;
}

#scroller .scroller__item:nth-child(5),
#scroller .scroller__item:nth-child(5) {
  color: #d47787;
}

#scroller .scroller__item:nth-child(6),
#scroller .scroller__item:nth-child(6) {
  color: #f09551;
}

#scroller .scroller__item:nth-child(7),
#scroller .scroller__item:nth-child(7) {
  color: #349ab5;
}

#scroller .scroller__item:nth-child(8),
#scroller .scroller__item:nth-child(8) {
  color: #e86042;
}

#scroller .scroller__item:nth-child(9),
#scroller .scroller__item:nth-child(9) {
  color: #74bcae;
}

#scroller .scroller__item:nth-child(10),
#scroller .scroller__item:nth-child(10) {
  color: #e65f48;
}

@-webkit-keyframes scroll {
  0.0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  3.7037037037037037% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  11.11111111111111% {
    -webkit-transform: translateY(-66px);
    transform: translateY(-66px);
  }
  14.814814814814815% {
    -webkit-transform: translateY(-66px);
    transform: translateY(-66px);
  }
  22.22222222222222% {
    -webkit-transform: translateY(-132px);
    transform: translateY(-132px);
  }
  25.925925925925927% {
    -webkit-transform: translateY(-132px);
    transform: translateY(-132px);
  }
  33.333333333333336% {
    -webkit-transform: translateY(-198px);
    transform: translateY(-198px);
  }
  37.03703703703704% {
    -webkit-transform: translateY(-198px);
    transform: translateY(-198px);
  }
  44.44444444444444% {
    -webkit-transform: translateY(-264px);
    transform: translateY(-264px);
  }
  48.148148148148145% {
    -webkit-transform: translateY(-264px);
    transform: translateY(-264px);
  }
  55.55555555555556% {
    -webkit-transform: translateY(-330px);
    transform: translateY(-330px);
  }
  59.25925925925926% {
    -webkit-transform: translateY(-330px);
    transform: translateY(-330px);
  }
  66.66666666666667% {
    -webkit-transform: translateY(-396px);
    transform: translateY(-396px);
  }
  70.37037037037037% {
    -webkit-transform: translateY(-396px);
    transform: translateY(-396px);
  }
  77.77777777777777% {
    -webkit-transform: translateY(-462px);
    transform: translateY(-462px);
  }
  81.48148148148148% {
    -webkit-transform: translateY(-462px);
    transform: translateY(-462px);
  }
  88.88888888888889% {
    -webkit-transform: translateY(-528px);
    transform: translateY(-528px);
  }
  92.5925925925926% {
    -webkit-transform: translateY(-528px);
    transform: translateY(-528px);
  }
  100.0% {
    -webkit-transform: translateY(-594px);
    transform: translateY(-594px);
  }
}

@keyframes scroll {
  0.0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  3.7037037037037037% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  11.11111111111111% {
    -webkit-transform: translateY(-66px);
    transform: translateY(-66px);
  }
  14.814814814814815% {
    -webkit-transform: translateY(-66px);
    transform: translateY(-66px);
  }
  22.22222222222222% {
    -webkit-transform: translateY(-132px);
    transform: translateY(-132px);
  }
  25.925925925925927% {
    -webkit-transform: translateY(-132px);
    transform: translateY(-132px);
  }
  33.333333333333336% {
    -webkit-transform: translateY(-198px);
    transform: translateY(-198px);
  }
  37.03703703703704% {
    -webkit-transform: translateY(-198px);
    transform: translateY(-198px);
  }
  44.44444444444444% {
    -webkit-transform: translateY(-264px);
    transform: translateY(-264px);
  }
  48.148148148148145% {
    -webkit-transform: translateY(-264px);
    transform: translateY(-264px);
  }
  55.55555555555556% {
    -webkit-transform: translateY(-330px);
    transform: translateY(-330px);
  }
  59.25925925925926% {
    -webkit-transform: translateY(-330px);
    transform: translateY(-330px);
  }
  66.66666666666667% {
    -webkit-transform: translateY(-396px);
    transform: translateY(-396px);
  }
  70.37037037037037% {
    -webkit-transform: translateY(-396px);
    transform: translateY(-396px);
  }
  77.77777777777777% {
    -webkit-transform: translateY(-462px);
    transform: translateY(-462px);
  }
  81.48148148148148% {
    -webkit-transform: translateY(-462px);
    transform: translateY(-462px);
  }
  88.88888888888889% {
    -webkit-transform: translateY(-528px);
    transform: translateY(-528px);
  }
  92.5925925925926% {
    -webkit-transform: translateY(-528px);
    transform: translateY(-528px);
  }
  100.0% {
    -webkit-transform: translateY(-594px);
    transform: translateY(-594px);
  }
}

@-webkit-keyframes scroll-mobile {
  0.0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  3.7037037037037037% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  11.11111111111111% {
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
  }
  14.814814814814815% {
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
  }
  22.22222222222222% {
    -webkit-transform: translateY(-96px);
    transform: translateY(-96px);
  }
  25.925925925925927% {
    -webkit-transform: translateY(-96px);
    transform: translateY(-96px);
  }
  33.333333333333336% {
    -webkit-transform: translateY(-144px);
    transform: translateY(-144px);
  }
  37.03703703703704% {
    -webkit-transform: translateY(-144px);
    transform: translateY(-144px);
  }
  44.44444444444444% {
    -webkit-transform: translateY(-192px);
    transform: translateY(-192px);
  }
  48.148148148148145% {
    -webkit-transform: translateY(-192px);
    transform: translateY(-192px);
  }
  55.55555555555556% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
  }
  59.25925925925926% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
  }
  66.66666666666667% {
    -webkit-transform: translateY(-288px);
    transform: translateY(-288px);
  }
  70.37037037037037% {
    -webkit-transform: translateY(-288px);
    transform: translateY(-288px);
  }
  77.77777777777777% {
    -webkit-transform: translateY(-336px);
    transform: translateY(-336px);
  }
  81.48148148148148% {
    -webkit-transform: translateY(-336px);
    transform: translateY(-336px);
  }
  88.88888888888889% {
    -webkit-transform: translateY(-384px);
    transform: translateY(-384px);
  }
  92.5925925925926% {
    -webkit-transform: translateY(-384px);
    transform: translateY(-384px);
  }
  100.0% {
    -webkit-transform: translateY(-432px);
    transform: translateY(-432px);
  }
}

@keyframes scroll-mobile {
  0.0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  3.7037037037037037% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  11.11111111111111% {
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
  }
  14.814814814814815% {
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
  }
  22.22222222222222% {
    -webkit-transform: translateY(-96px);
    transform: translateY(-96px);
  }
  25.925925925925927% {
    -webkit-transform: translateY(-96px);
    transform: translateY(-96px);
  }
  33.333333333333336% {
    -webkit-transform: translateY(-144px);
    transform: translateY(-144px);
  }
  37.03703703703704% {
    -webkit-transform: translateY(-144px);
    transform: translateY(-144px);
  }
  44.44444444444444% {
    -webkit-transform: translateY(-192px);
    transform: translateY(-192px);
  }
  48.148148148148145% {
    -webkit-transform: translateY(-192px);
    transform: translateY(-192px);
  }
  55.55555555555556% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
  }
  59.25925925925926% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
  }
  66.66666666666667% {
    -webkit-transform: translateY(-288px);
    transform: translateY(-288px);
  }
  70.37037037037037% {
    -webkit-transform: translateY(-288px);
    transform: translateY(-288px);
  }
  77.77777777777777% {
    -webkit-transform: translateY(-336px);
    transform: translateY(-336px);
  }
  81.48148148148148% {
    -webkit-transform: translateY(-336px);
    transform: translateY(-336px);
  }
  88.88888888888889% {
    -webkit-transform: translateY(-384px);
    transform: translateY(-384px);
  }
  92.5925925925926% {
    -webkit-transform: translateY(-384px);
    transform: translateY(-384px);
  }
  100.0% {
    -webkit-transform: translateY(-432px);
    transform: translateY(-432px);
  }
}
