.loading {
  height: 500px;
  width: 100%;
  p {
    color: #f1f2f6;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    display: inline-block;
    padding: 1.5em 0em;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
    span {
      font: bold 5em/1 'Monoton', cursive;
      letter-spacing: 0;
      padding: 0.25em 0 0.325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 50px #e9e9e9;
      background: url('/img/loading.png');
      background-size: 20%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: aitf 80s linear infinite;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
    }
  }
  @keyframes aitf {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 250px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px dashed var(--primary);
  border-radius: 8px;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  @media (min-width: 1025px) {
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

.star__background {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  background: radial-gradient(
    200% 100% at bottom center,
    #f7f7b6,
    #e96f92,
    #75517d,
    #1b2947
  );
  background: radial-gradient(
    220% 105% at top center,
    #1b2947 10%,
    #75517d 40%,
    #e96f92 65%,
    #f7f7b6
  );
  background-attachment: fixed;
  .stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    perspective-origin: 50% 100%;
    animation: rotate 90s infinite linear;
  }
  .star {
    width: 2px;
    height: 2px;
    background: #f7f7b6;
    //border-radius:100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
  }
  @keyframes rotate {
    0% {
      transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100% {
      transform: perspective(400px) rotateZ(20deg) rotateX(-40deg)
        rotateY(-360deg);
    }
  }
}
