.header__title {
  display: flex;
  align-items: center;
  line-height: 80px;
  text-align: right;
  font-size: 1.25rem;
  font-weight: bold;
  z-index: 99;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  @media (max-width: 1200px) {
    font-size: 1.75rem;
    margin-left: 20px;
  }
}
.header__wrap {
  width: 100vw;
  height: 80px;
  background: 0 0;
  z-index: 9999;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin: auto;
    @media (max-width: 1200px) {
      width: 100%;
    }
    .header__right {
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.sidemenu__wrap {
  position: sticky;
  top: 0;
  width: 320px;
  padding: 50px;
  .sidemenu__link {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 36px;
    // border: 1px dashed #cbcbcb;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 5px;
    &:hover {
      border-style: solid;
      background: var(--lightgray);
      border-color: #a0a0a0;
      transition: all 0.25s;
    }
  }
  .sidemenu__link__active {
    background: var(--lightgray);
  }
  @media (max-width: 460px) {
    display: none;
  }
}

.footer {
  .avator {
    width: 99px;
    height: 99px;
    margin: 20px auto;
    text-align: center;
    border-radius: 25%;
    overflow: hidden;
    border: 1px solid var(--semidark);
    cursor: pointer;
  }
}
