.background {
  max-width: 1980px;
  margin: 0 auto;
}
.app {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // overflow: hidden;
}

.tag__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.loop__slider {
  display: flex;
  max-width: 1980px;
  .inner {
    width: 3960px;
    display: flex;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 30s;
  }
  &:nth-child(2) {
    .inner {
      animation-direction: reverse !important;
      animation-duration: 28s;
    }
  }
  &:nth-child(3) {
    .inner {
      animation-duration: 33s;
    }
  }
}


.tag {
  width: calc(1980px / 7);
  padding: 10px;
  color: #e2e8f0;
  font-size: 0.9rem;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
