@font-face {
  font-family: "iconfont"; /* Project id 3756578 */
  src: url('iconfont.woff2?t=1675946641967') format('woff2'),
       url('iconfont.woff?t=1675946641967') format('woff'),
       url('iconfont.ttf?t=1675946641967') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-style:before {
  content: "\ebde";
}

.icon-component:before {
  content: "\e6f5";
}

.icon-Balance:before {
  content: "\ea70";
}

.icon-balance:before {
  content: "\e87a";
}

.icon-bxs-component:before {
  content: "\e6bd";
}

.icon-Style:before {
  content: "\e636";
}

.icon-component1:before {
  content: "\e600";
}

.icon-sun:before {
  content: "\e64c";
}

.icon-moon:before {
  content: "\e866";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-github:before {
  content: "\e85a";
}

.icon-css:before {
  content: "\e6d5";
}

.icon-jiantou_xiangxia:before {
  content: "\eb0a";
}

.icon-sousuobianxiao:before {
  content: "\ec32";
}

.icon-sousuofangda:before {
  content: "\ec33";
}

.icon-github1:before {
  content: "\e620";
}

