@font-face {
  font-family: "iconfont"; /* Project id 3756578 */
  src: url('iconfont.woff2?t=1667876882002') format('woff2'),
       url('iconfont.woff?t=1667876882002') format('woff'),
       url('iconfont.ttf?t=1667876882002') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e64c";
}

.icon-moon:before {
  content: "\e866";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-github:before {
  content: "\e85a";
}

.icon-css:before {
  content: "\e6d5";
}

.icon-jiantou_xiangxia:before {
  content: "\eb0a";
}

.icon-sousuobianxiao:before {
  content: "\ec32";
}

.icon-sousuofangda:before {
  content: "\ec33";
}

.icon-github1:before {
  content: "\e620";
}

