.iconGroup__warp {
  display: flex;
  align-items: center;
  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 36px;
    border-radius: 36px;
    border: 1px dashed #cbcbcb;
    overflow: hidden;
    transition: all 0.25s;
    div {
      position: absolute;
      transition: transform 0.35s;
    }
    div:nth-child(2) {
      transform: translateY(35px);
    }
  }
  button:hover {
    border-style: solid;
    border-color: #a0a0a0;
    transition: all 0.25s;
    div:nth-child(1) {
      transform: translateY(-30px);
      transition: transform 0.35s;
    }
    div:nth-child(2) {
      transform: translateY(5px);
      transition: transform 0.35s;
    }
  }
}

.nav__link {
  position: relative;
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
}

.nav__link::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -7px;
  background: #d23669;
  height: 2px;
  transition: 0.3s ease-out;
}

.nav__link::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: attr(data-name);
  width: 0%;
  inset: 0;
  color: #d23669;
  overflow: hidden;
  transition: 0.15s ease-in-out;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__link:hover::before {
  width: 100%;
}
